@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: poppins, sans-serif;
	font-size: 0.88rem;
	background: #F8F9FA;
	user-select: none;
	overflow-x: hidden;
	color: #2D3748;
}

a {
	color: #2D3748;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
	color: #2D3748;
}

h2 {
	font-size: 1.4rem;
	color: #2D3748;
}

h3 {
	font-size: 0.87rem;
	color: #2D3748;
}

h4 {
	font-size: 0.8rem;
	color: #2D3748;
}

h5 {
	font-size: 0.77rem;
	color: #2D3748;
}

small {
	font-size: 0.75rem;
	color: #2D3748;
}


p {
	color: #2D3748;
}

b {
	color: #2D3748;
}

/* ========================================== NAV-BAR ========================================== */
#nav-bar{
	height: 8vh;
	background-color: #F8F9FA;
	width: 100%;
	padding: 0.7rem 0;
	position: fixed;
	top: 0;
	z-index: 1;
	position: relative; /* Make sure nav is relative to position the pseudo-element correctly */
	
}

#nav-bar::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px; /* Adjust the height as needed */
	background: linear-gradient(to right, #F8F9FA, #F8F9FA, #D8DBDD, #F8F9FA, #F8F9FA); /* Gradient colors */
}

#nav-bar #container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.2rem;
}

#nav-bar #logo {
	display: flex;
	gap: 0.5rem;
}

#nav-bar #logo img {
	width: 2rem;
	height: 2rem;
}

#nav-bar #profile {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#nav-bar #profile #profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 0.75rem;
	overflow: hidden; /* Hide overflow content */
	position: relative; /* Position relative to contain absolutely positioned img */
  }
  
  #nav-bar #profile #profile-photo img {
	display: block; /* Remove default inline spacing */
	width: 100%; /* Fill the width of the container */
	height: 100%; /* Fill the height of the container */
	object-fit: cover; /* Ensure the image covers the container */
	object-position: center; /* Center the image */
  }
/* ============================================================================================= */


#div-content{
	display: flex;
	/* justify-content: space-around; */
	height: 87vh;
	background-color: #F8F9FA;
}

#pro-file{
	background-color: #F8F9FA;
	width: 15vw;
	/* width: 50vw; */
	/* flex-grow: 1; */
}
#footer{
	width: 100%;
	height: 5vh;
	background-color: #F8F9FA;
}

#div-middle{
	width: 60vw;
	/* flex-grow: 5; */
	background-color: #F8F9FA;
}

#div-right{
	width: 25vw;
	/* flex-grow: 2; */
	background-color: #F8F9FA;
}
#footer p{
	margin: 0px;
}