#tour-ongoing {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: #C4C4C4;
}

#tour-ongoing span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#tour-ongoing #content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    margin-right: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02); /* Adding shadow */
}

#tour-ongoing .btn {
    margin-top: 0rem;
    margin-right: 1.5rem;
    width: 10rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.75rem;
    padding: 1rem 1;
    background-color: #C4C4C4;
    border-color: #C4C4C4;
    font-size: 0.7rem;
}

#tour-ongoing i {
    margin-left: 1.5rem;
    font-size: 2.5rem; /* Increase the font size */
    background-color: white;
    color: #C4C4C4;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem; /* Increase the width */
    height: 3rem; /* Increase the height */
    border-radius: 0.75rem;
}

#tour-ongoing #content h4 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

#tour-ongoing #content small {
    color: white;
    font-size: 0.7rem;
}
